<%= form_with model: @delivery do |form| %>
  <% @delivery.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
  <div>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <%= form.label :observation %>
    <%= form.text_area :observation %>
  </div>

  <div>
    <%= form.label :beneficiary %>
    <%= form.collection_select :beneficiary_id, Beneficiary.where(status_document: true, terms_conditions: true).order(created_at: :desc), :id, :names %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
